/* =========================
   AGENT USER JOURNEY MAP
   ========================= */

.agent__user-journey-map {
  position: relative;
  width: 100vw;
  background-color: var(--color-bg);
  background-image: url('/images/agent/user-journey-map-background.png');
  background-size: 100vw auto;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  height: fit-content; /* Fallback, will be adjusted by background image */
}

.agent__user-journey-map .content-container {
  
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.agent__user-journey-map-content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agent__user-journey-map-header {
  width: 100%;
  padding-top: clamp(40px, 5vw, 80px);
}

.agent__user-journey-map-image--mobile {
  display: none;
}

@media screen and (max-width: 490px) {
  .agent__user-journey-map {
    background-image: none;
    height: fit-content;
  }
  .agent__user-journey-map-content-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  
  .agent__user-journey-map-image--mobile {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-top: clamp(24px, 5vw, 40px);
  }
  
  .agent__user-journey-map-header {
    padding-top: clamp(40px, 5vw, 80px);
  }
}

