/* =========================
   AGENT HERO
   ========================= */

.agent__hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('/images/agent/agent-hero-background.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: clamp(120px, 15vw, 200px) 0 clamp(120px, 15vw, 200px);
}

.agent__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: clamp(48px, 6vw, 160px);
  text-align: right;
}

.agent__title {
  margin: 0 0 clamp(16px, 2vw, 24px) 0;
  text-align: right;
}

.agent__meta {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 24px);
  margin: 0;
  text-align: right;
  align-items: flex-end;
}

.agent__meta-item {
  margin: 0;
}

@media screen and (max-width: 490px) {
  .agent__hero {
    background-size: scale-down;
    background-position: right;

  }
}