/* =========================
   BOOKED DESIGN SYSTEM
   ========================= */

.booked__design-system {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: fit-content;
  padding-top: clamp(80px, 5vw, 160px);
  padding-bottom: clamp(80px, 5vw, 160px);
}

.booked__design-system-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(48px, 6vw, 96px);
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.booked__design-system-header {
  width: 100%;
}

.booked__design-system-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booked__design-system-image {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.booked__design-system-image--mobile {
  display: none;
}

@media screen and (max-width: 490px) {

  .booked__design-system {
    padding-top: 0vh;
    padding-bottom: 5vh;
  }
  .booked__design-system-header {
    padding-top: 10vh;
    padding-bottom: 0vh;
  }
  
  .booked__design-system-image--desktop {
    display: none;
  }
  
  .booked__design-system-image--mobile {
    display: block;
    width: 100%;
  }
  
  .booked__scope-subitem{
    padding-left: 15%;
  }
}