/* =========================
   FEATURE DISPLAY VIDEO
   ========================= */

.feature-display-video {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: fit-content;
}

.feature-display-video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.feature-display-video-title {
  margin: 0 0 20px 0;
  text-align: center;
}

.feature-display-video-description {
  margin: 0 0 24px 0;
  text-align: center;
  max-width: 800px;
}

.feature-display-video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-display-video-element {
  max-width: 100%;
  height: 80vh;
  object-fit: contain;
  border-radius: 12px;
}

