/* =========================
   POTSALE PROBLEM STATEMENT
   ========================= */

.potsale__problemstatement {
  position: relative;
  width: 100%;
  padding: clamp(40px, 5vw, 80px) 0;
  background: var(--color-bg);
}

.potsale__problemstatement .content-container {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 5vw, 80px);
  background-image: url("/images/potsale/problem-statement-background.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.potsale__problemstatement-content {
  width: 100%;
  height: 50vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.potsale__problemstatement-text {
  margin: 0;
  text-align: center;
  max-width: 80%;
  font-weight: var(--weight-regular);
  font-size: var(--text-display-lg); 
  line-height: var(--line-body);
}

@media (max-width: 490px) {
  .potsale__problemstatement .content-container {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 5vw, 80px);
    background-image: url("/images/potsale/problem-statement-background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .potsale__problemstatement-text {
    font-size: var(--text-heading-lg);
    line-height: 1.3;
    max-width: 90%;
  }
}

