/* =========================
   TIPPING RESEARCH
   ========================= */

.tipping__research {
  width: 100%;
  height: 120vh;
  position: relative;
  background-image: url('/images/tipping/research-background.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.tipping__research-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  padding-right: 0%;
  padding-bottom: 20%;
  box-sizing: border-box;
}

.tipping__research-text {
  max-width: 20%;
  display: flex;
  align-items: right;
}

.tipping__research-text p {
  margin: 0;
}

.tipping__research-image--mobile {
  display: none;
}

@media (max-width: 490px) {
  .tipping__research {
    background-color: #090909;
    height: auto;
    min-height: fit-content;
    background-image: none;
    padding: clamp(40px, 5vw, 80px) 0;
  }
  
  .tipping__research-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: clamp(24px, 5vw, 40px);
  }
  
  .tipping__research-text {
    max-width: 100%;
    width: 100%;
    align-items: flex-start;
  }
  
  .tipping__research-image--mobile {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: clamp(24px, 5vw, 40px);
  }
}

